# MQTT 配置
MQTT_HOST=8.134.248.240
MQTT_PORT=1883
MQTT_USERNAME=admin
MQTT_PASSWORD=mms6332628
MQTT_CLIENT_ID=tinytuya-mqtt-tiangong

# 涂鸦设备配置
# 所有设备共享同一个 local_key
TUYA_LOCAL_KEY=k[BxEj?<'^;cu|]1

# 网关IP（可留空自动发现）
GATEWAY_IP=